.regulamento{

    .modal-header{
        font-weight: 700;
        color:#43425D;
    }

    .title-lista{
        margin: 20px 0;
        text-align: center;
        color:#4D4F5C;
        font-size: 20px;

        strong{
            display: block;
            color:#72BF44;
            margin-bottom: 10px;
        }

        p{
            font-weight: 100;
        }
    }

    .modal-content{
        height: 500px;
        overflow: hidden;
    }

    .modal-body{
        overflow: auto;
    }

    .lista-empresas{
        
        .empresa{

            .tabela-dados{
                overflow: auto;
                img{
                    display: block;
                    margin: 20px auto;
                    min-width: 638px;
                    max-width: 638px;
                }
            }

            margin: 20px 0;

            h3{
                padding: 0 40px;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                color:#454F63;
            }

            p{
                margin: 10px 0px;
                padding: 0 40px;
                font-size: 14px;
                color:#78849E;

                span{
                    text-transform: uppercase;
                    color:#333;
                    font-weight: 600;
                }
            }

            @media (max-width: 414px){
                h3,p{
                    padding: 0px;
                }
            }

            ul{
                padding: 0 40px  0 60px;

                li{
                    font-size: 14px;
                    list-style-type: square;
                    color: #78849e;
                    margin-top: 10px;

                    strong{
                        display: block;
                    }
                }
            }
        }

    }

    .border-termo{
        border:solid 1px silver;
        
        @media(max-width:414px){
            padding: 5px;
        }
    }

    img{
        min-width: 48px;
        margin-left: -40px;
        margin-top: 2px;
    }

    @media(max-width:414px){
        .d-mobile{
            display: none;
        }
    }
}