.iframe-numero-da-sorte{
    // background-color:#042637;
    min-height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;

    // &::before{
    //     content: '';
    //     background-image: url(../img/vertical.png)!important;
    //     height: 300px;
    //     min-width: 100%;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: top center;
    //     position: absolute;
    //     left: 0;
    //     bottom: 0px!important;
    // }

    
    // &:after{
    //     content: '';
    //     position: absolute;
    //     background-color:#77B424;
    //     width: 100%;
    //     height: 100px;
    //     right: 0;
    //     bottom: 0px;
    //     z-index: -1;

    //     // tablet
    //     @media (max-width:991px){
    //         width: 100%;
    //         height: 10%;
    //         bottom: 0px;
    //     }
        
    //     // notebook
    //     @media (max-width:991px){
    //         height: 15%;
    //     }
    // }

    .title{
        font-weight: 600;
        font-size: 40px;
        color:#fff;
        margin-top: 20px;

        @media (max-width:414px){
            font-size: 40px;
            margin-top: 0px;
        }
    }

    .numero-da-sorte{
        // margin-top: 80px;
        // margin-bottom: 20px;
        font-size: 40px;

        @media (max-width:414px){
            margin-top: 0px;
        }
    }
    
    h1,h2,h3,h4,p{
        color:#000;
    }
    

    a{
        color:#fff;
    }

    // a.btn{
    //     background-color:#F7A600;
    //     padding: 15px 20px;
    //     color:#fff;
    //     font-weight: 700;
    //     font-size: 20px;
    //     transition: ease-in-out 300ms;
        
    //     &:hover, &:focus{
    //         color:#fff!important;
    //         background-color:#042637;
    //     }
    // }
}

