.premios{

    .modal-header{
        font-weight: 700;
        color:#43425D;
    }

    .modal-content{
        height: 510px;
        overflow: hidden;
    }

    .modal-body {
        overflow: auto;
    }

    .title-lista{
        margin: 20px 0 30px 0;
        text-align: center;
        color:#4D4F5C;
        font-size: 18px;
        line-height: 1.4;

        @media(max-width:991px){
            
            br{
                display: none;
            }
        }

        strong{
            display: block;
        }
    }

    .box-premios{
        background-color: #F8F8F8;
        margin: 10px auto;
        width: 320px;
        padding: 10px;
        border-radius: 10px;
        height: 100px;

        &:nth-child(3){
            margin: 10px auto 30px auto;
        }

        span{
            font-size: 12px;
        }

        strong{
            font-size: 14px;
        }

        p{
            margin: 0px;
            padding: 0px;
            font-size: 11px;
        }
    }

    .box-como-participar{
        // height: 200px;
        background-color:#F7A600;
        border-radius: 20px;
        display: block;
        margin: 0 auto;
        max-width: 300px;
        margin-bottom: 20px;
    
        img{
            display: block;
            margin: 0 auto;
        }
    
        .title-participar{
            text-align: center;
            color:#fff;
            
            strong{
                display: block;
                font-size: 25px;
            }
        }
    
        .description{
            padding: 10px 20px 20px 20px;
            font-size: 12px;
            color:#fff;
            font-weight: 100;
            min-height: 80px;
        }
    }


    img{
        min-width: 106px;
        margin-left: -40px;
        margin-top:-5px;
    }
}