header{

    .logo-ipsos{
        position: absolute;
        z-index: 9;
        top: 14px;
        right: 15px;
        opacity: 1;
        transition: ease-in-out 300ms;

        img{
            width: 50px;                
        }
    }

    .navbar-light .navbar-toggler-icon{
        background-image: none;
    }

    &.active{
        .logo-ipsos{
            opacity: .0;
            z-index: 0;
        }
    }

    .navbar{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 80px;z-index: 3;
        background-color: #fff;

        @media(max-width:991px){
            background-color:transparent;
        }

        .navbar-toggler{
            padding: 8px 8px 12px 8px;
            border:solid 1px #fff;
            border-radius: 0px;

            .navbar-toggler-icon{
                width: 25px;
                background-color: #fff;
                height: 2px;
                position: relative;

                &:before{
                    content: '';
                    width: 25px;
                    background-color: #fff;
                    height: 2px;
                    position: absolute;
                    top: -9px;
                    left: 0px;
                }
                
                &:after{
                    content: '';
                    width: 25px;
                    background-color: #fff;
                    height: 2px;
                    position: absolute;
                    top: 9px;
                    left: 0px;
                }
            }

        }
        
        .collapse{
            
            .nav-item{
                text-transform: uppercase;
                font-weight: 500;

                a{
                    color:#042637;
                }

                &.active{

                    a{
                        color:#77B424;
                    }
                }
            }

            .navbar-brand{
                img{
                    @media(min-width: 991px){
                        display: none;
                    }
                }
            }
        }

        .navbar-brand{
            img{
                width: 60px;

                @media(max-width: 991px){
                    display: none;
                }
            }
        }

        &.active{

            .collapse{
                display: block!important;
                position: fixed;
                background-color: #fff;
                top: 0px;
                left: 0px;
                width: 100%;
                min-height: 100%; 
                padding: 80px 0px;

                .nav-item{
                    padding: 5px 20px;
                    border-top:solid 1px #d1d1d1;
                    text-transform: capitalize;

                    &:nth-child(1){
                        // display: none;
                    }

                    &:last-child{                            
                        border-bottom:solid 1px #d1d1d1;
                    }
    
                    a{
                        color:#042637;
                        display: block;
                    }
    
                    &.active{
    
                        a{
                            color:#77B424;
                        }
                    }
                }

                .navbar-toggler{
                    position: absolute;
                    right: 20px;
                    top: 30px;
                    z-index: 9;
                    
                    border:solid 1px #042637;
                    padding: 2px 0px 6px 4px;
                    border-radius: 20px;
    
                    .navbar-toggler-icon{
    
                        background-color: transparent;
                        
                        &:before{
                            width: 17px;
                            background-color: #042637;  
                            transform: rotate(224deg);
                            top: -2px;
                            height: 3px;
                            left: 1px;
                        }
                        
                        &:after{
                            width: 17px;
                            background-color: #042637;  
                            transform: rotate(-224deg);
                            height: 3px;
                            top: -2px;
                            left: 1px;
                        }
                    }

                    &:focus{
                        outline: none;
                    }
                }
                
                .navbar-brand{
                    img{
                        width: 60px;
        
                        @media(max-width: 991px){
                            position: absolute;
                            display: block;
                            z-index: 9;
                            left: 20px;       
                            top: 25px;                 
                        }
                    }
                }
            }

        }
    }
}