footer{
    width: 100%;
    position: absolute;
    z-index: 9;
    bottom: 0px;
    background-color: #fff;
    padding: 10px 10px 0px 10px;
    overflow: hidden;

    @media (max-width:991px){
            min-height: 100px;
            bottom: 0px!important;
            background-color:#77B424;
            padding-bottom:20px;
    }

    @media (max-width:530px){
            bottom: 0px!important;
    }

    @media (max-width:430px){
            bottom: 0px!important;
    }
    
//     @media (max-width:380px){
//             bottom: -169px!important;
//     }

//     @media (max-width:340px){
//             bottom: -179px!important;
//     }

//     @media (max-width:320px){
//         bottom: -185px!important;
//     }
    

    p{
        font-family: sans-serif;
        font-size: 10px;
        font-weight: 100;
        padding: 0px;
        margin: 0px;
        text-align: center;
        // color:#fff;
        
        a{
            display: block;
            margin-bottom: 5px;
        }
    }
}

