.c-fiscal{

    .modal-header{
        font-weight: 700;
        color:#43425D;
    }

    .modal-body{
        overflow: auto;
        height: 400px;
    }

    .descricao-sobre-cupom{
        text-align: center;
        color:#454F63;

        @media (max-width:768px){
            text-align: left;
        }
    }

    .box-cupons{
        // cursor: pointer;
        background-color: #F7A600;
        color:#fff;
        margin: 10px auto;
        width: 320px;
        padding: 10px;
        border-radius: 10px;
        // height: 100px;
        transition: ease-in-out 300ms;

        @media(max-width:359px){
            width: 290px;
        }

        @media(max-width:359px){
            width: 100%;
        }

        &:nth-child(3){
            margin: 10px auto 30px auto;
        }

        span{
            font-size: 12px;
        }

        strong{
            display: block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: 100;
        }

        p{
            margin: 0px;
            padding: 0px;
            font-size: 11px;
        }

        .box-inner-cupom{
            margin: 20px 0;
            // display: none;
            transition: ease-in-out 300ms;
            
            img{
                // height: 0px;
                transition: ease-in-out 300ms;
            }
        }
    
        &.active{
    
            .box-inner-cupom{
                // visibility: visible;
                display: block;
                
                img{
                    height: 100%;
                }
            }
        }
    }

    img.cidades{
        min-width: 70px!important;
        margin-left: -5px;
        margin-top:20px;
    }

}