.home{
    background-color:#042637;
    min-height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow: hidden;

    @media (max-width:991px){
        // overflow: auto;
        overflow-x: hidden !important;
        padding-bottom: 99px;
    }

    @media (max-width:991px){
        padding-bottom: 120px;
    }
    
    @media (max-width:414px) {
        // padding: 30px 0;
        padding-bottom: 160px;
    }

    @media (max-width:330px) {
        // padding: 30px 0;
        padding-bottom: 190px;
    }
    
    @media (min-width:992px){
        &::before{
            content: '';
            background-image: url(../img/horizontal.png);
            height: 100%;
            width: 500px;
            background-position: left center;
            position: absolute;
            left: 45%;
            top: 10px;
            background-repeat: no-repeat;
        }
    }



    @media (min-height:1366px){
        &::before{
            content: '';
            background-image: url(../img/horizontal.png);
            height: 100%;
            width: 500px;
            background-position: left center;
            position: absolute;
            left: 48%;
            top: 0px;
            background-repeat: no-repeat;
        }
    }

    
    @media (max-width:991px){
        &::before{
            content: '';
            background-image: url(../img/vertical.png)!important;
            height: 400px;
            min-width: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            left: 0;
            bottom: 220px !important;
        }
    }
    
    @media (max-width:768px){
        &::before{
            content: '';
            bottom: 285px !important;
        }
    }
    
    @media (max-width:530px){
        &::before{
            content: '';
            bottom: 300px !important;
        }
    }

    @media (max-width:414px){
        &::before{
            content: '';
            bottom: 320px!important;
        }
    }

    @media (max-width:380px){
        &::before{
            bottom: 380px!important;
        }
    }

    // @media (max-width:330px){
    //     &::before{
    //         bottom: 220px!important;
    //     }
    // }
    

    @media (min-height:1000px){
        &::before{
            bottom: 280px!important;
        }
    }

    &:after{
        content: '';
        position: absolute;
        background-color:#77B424;
        height: 100%;
        width: 30%;
        right: 0;
        z-index: -1;

        // tablet
        @media (max-width:991px){
            width: 100%;
            height: 40%;
            bottom: 0px;
        }
        
        // notebook
        @media (max-width:991px){
            height: 45%;
        }
    }

    .title{
        font-weight: 600;
        font-size: 50px;

        @media (max-width:414px){
            font-size: 40px;
        }
    }

    .descricao{
        margin-top: 40px;
        font-size: 30px;
        line-height: 1.6;

        @media (max-width:414px){
            font-size: 20px;
        }
    }
    
    h1,h2,h3{
        color:#fff;
    }
    
    .col-lg-5{
        margin-top: 100px;
    }

    .page-green{

        @media (max-width:991px){
            padding: 20px 20px;

            br{
                display: none;
            }
        }

        @media (max-width:414px){
            h3{
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        
        .getUrl{
            margin: 0 auto;
            background-color:#fff;            
            width: 350px;
            padding: 10px;

            @media (max-width:414px) {
                width: 100%;
            }
            
            .codigo-fiscal{
                border:solid 1px silver;
                width: 100%;
                margin-bottom: 10px;
                text-align: left;

                &.error-input{
                    border-color: red;
                }
            }
            
            .termos{

                &.disabled{
                    position: relative;
                    &:after{
                        content: '';
                        position: absolute;
                        background-color:#fff;
                        width: 100%;
                        height: 30px;
                        z-index: 1;
                        opacity: 0.6;
                        left: 0px;

                        @media(max-width:360px){
                            bottom:17px;
                        }
                    }
                }

                input{
                    margin-right: 5px;
                }
                
                label{
                    font-size: 13px;

                    a{
                        color:#042637;
                        text-decoration: underline;
                        z-index: 1000001;
                        position: relative;
                    }
                }
            }

            input[type=checkbox]{
                visibility: hidden;
            }

            .concordo{
                position: relative;
                cursor: pointer;
                margin-left: 10px;

                @media (max-width:360px){
                    margin-top: -30px;
                    margin-left: 40px;
                }
                
                &:before{
                    content: '';
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    border:solid 2px #77b424;
                    left:-30px;
                    border-radius: 4px;            
                }
                
                &:after{
                    content: '';
                    position: absolute;
                    width: 16px;
                    height:16px;
                    // background-color: silver;
                    left: -28px;
                    top: 2px;
                    // background-image: url(assets/img/checked-checkbox.png);
                    background-size: 20px 20px;
                    background-position: center;
                    border:solid 1px #fff;
                }
                
                &.active{
                    &:after{
                        background-image: url(../img/checked-checkbox.png);
                    }
                }
            }


        }

        .gera-link{

            .disabled{
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    background-color:#77B424;
                    opacity: .6;
                    width: 105%;
                    height: 105%;
                    left: -2px;
                    top: -2px;
                }
            }

            p{
                margin-top: 10px;
                font-size: 14px;
                font-style: italic;

                .duvida-cupom-fiscal{
                    border:solid 1px #042637;
                    background-color: #042637;
                    padding: 0px 7px;
                    border-radius: 30px;
                    margin-left: 6px;
                    color:#fff;

                    &:hover{
                        text-decoration: none;
                    }
                }

                a{
                    font-style: initial;
                }
            }

            p.miudas {
                font-size: 8px!important;
                margin-top: -10px!important;
            }

            .btn{
                background-color:#F7A600;
                padding: 15px 20px;
                color:#fff;
                font-weight: 700;
                font-size: 20px;
                transition: ease-in-out 300ms;
                
                &:hover{
                    background-color:#042637;
                }
            }
        }
        
    }

    
}

