.como-participar{

    @media(min-width:992px){
        .modal .modal-dialog{
            min-width: 1100px!important;
        }
    }

    .modal-content{
        height: 520px;
        overflow: hidden;
    }

    .modal-body {
        overflow: auto;
    }

    .title-lista{
        font-size: 18px!important;
        text-align: center;
        margin: 20px;
        span{
            display: block;
        }
    }

    .box-como-participar{
        // height: 200px;
        background-color:#F7A600;
        border-radius: 20px;
        display: block;
        margin: 0 auto;
        max-width: 300px;
        margin-bottom: 20px;
    
        img{
            display: block;
            margin: 0 auto;
        }
    
        .title-participar{
            text-align: center;
            color:#fff;
        }
    
        .description{
            padding: 20px;
            font-size: 12px;
            color:#fff;
            font-weight: 100;
            min-height: 140px;
        }
    

    }

}

        