.ganhadores {

  @media(min-width:992px){
      .modal .modal-dialog{
          min-width: 1100px!important;
      }
  }

  .modal-content{
      height: 540px;
      overflow: hidden;
  }

  .modal-body {
      overflow: auto;
  }

  .modal-header {
    font-weight: 700;
    color: #43425d;
  }

  .title-lista {
    margin: 20px 0;
    text-align: center;
    color: #4d4f5c;
    font-size: 18px;

    @media(max-width:768px){
      // br{
      //   display: none;
      // }
    }

    strong {
      display: block;
    }
  }

  // .box-sorteio {
  //   padding: 10px 0 0px 0;
  //   border-radius: 20px;
  //   width: 350px;
  //   margin: 0 auto;
  //   background-color: #72bf44;
  //   color: #fff;
  //   margin-bottom: 20px;

  //   h4 {
  //     font-size: 18px;
  //     text-align: center;
  //     padding: 0px 10px 15px 10px;
  //   }

  //   @media (max-width: 414px) {
  //     border-radius: 20px;
  //   }

  //   @media (max-width: 360px) {
  //     width: 290px;
  //     border-radius: 20px;
  //     margin-left: 0;
  //   }

  //   .inner-sorteio {
  //     position: relative;
  //     padding: 10px 0;

  //     &:before {
  //       content: "";
  //       height: 1px;
  //       width: 80%;
  //       background-color: #fff;
  //       position: absolute;
  //       bottom: 10px;
  //       margin-left: 10%;
  //       opacity: 0.4;
  //     }

  //     &:last-child {
  //       padding: 0px 0 0px 0;
  //       &:before {
  //         content: "";
  //         background-color: transparent !important;
  //       }
  //     }
  //   }

  //   p {
  //     font-size: 14px;
  //     opacity: 0.6;
  //   }

  //   .valor {
  //     font-size: 14px;
  //     // font-weight: 600;
  //     opacity: 0.7;
  //   }
  // }

  // img {
  //   min-width: 48px;
  //   margin-left: -40px;
  //   margin-top: 2px;
  // }

  .box-titles-ganhadores{
    margin:  0 -15px;
    
    .box-title{
        background-color:#397615;
        color:#fff;
        text-align: center;
        border: 1px solid #E6E6E6;
        padding: 10px;
    }
    
    @media(max-width:991px){
        display: none;
    }
}

.box-tables-ganhadores{
    margin:  0 -15px 0px -15px;
    
    .box-title{
        background-color:#397615;
        color:#fff;
        text-align: center;
        border: 1px solid #E6E6E6;
        padding: 10px;
        
        display: none;
        
        @media(max-width:991px){
            display: block;
        }
    }
    
    @media(max-width:768px){
        margin:  0 -0px 40px 0px;
        border:solid 1px #d1d1d1;
    }
    
    .box-table{
        border: 1px solid #E6E6E6;
        padding: 10px;
        text-align: center;
        background-color: #F1F8EC;
        overflow: auto;
        white-space: nowrap;
        height: 46px;

        
        &.numero-sorte{
            background-color: #fff;
        }
        
    }
    
    .box-table::-webkit-scrollbar-track {
        background-color: #F4F4F4;
    }
    .box-table::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: #F4F4F4;
    }
    .box-table::-webkit-scrollbar-thumb:horizontal {
        background-color: rgba($color: #000000, $alpha: 0.4);
    }
}

.box-premio{
    text-align: center;
    background-color:#F7A600;
    padding: 20px 0;
    border-radius: 20px;
    margin-bottom: 30px;
    
    .valor-premio{
        font-size: 20px;
    }
}

}
