.n-sorte{

    .modal-body{

        img{
            width: 80px;
            margin: 0 auto;
            display: block;
        }
    }

    .modal-content{
        height: 540px;
        overflow: hidden;
    }
  
    .modal-body {
        overflow: auto;
    }

    .title-lista{
        margin: 20px 0;
        text-align: center;
        font-size: 18px;

        strong{
            display: block;
            font-size: 22px;
        }
    }

    .get-numeros{
        margin-top: 20px;

        a{
            background-color:#F7A600;
                margin: 10px 0;
                padding: 8px 20px;
                width: 100%;
                color:#fff!important;
                font-weight: 300;
                font-size: 20px;
                transition: ease-in-out 300ms;
                
                &:hover{
                    background-color:#042637;
                }
        }

        &.disabled{
            position: relative;

            &:before{
                content: '';
                position: absolute;
                background-color:rgba(255, 255, 255, 0.5);
                height: 66px;
                width: 100%;
                bottom: 0;
            }
        }
    }

    .print-numeros{

        table{
            margin-top: 20px;
            border:solid 1px silver;
            overflow: hidden;
            
            th{
                background-color:#397615;
                color:#fff;
                font-weight: 400;
            }
        }

        tbody{
            td{
                font-size: 13px;
                text-align: center;
            }
        }
    }
}