@font-face {
  font-family: "leroy_merlin_sansbold";
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Bold.eot");
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Bold.woff2") format("woff2"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Bold.woff") format("woff"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Bold.ttf") format("truetype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Bold.svg#leroy_merlin_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "leroy_merlin_sans_boldBdIt";
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-BoldItalic.eot");
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-BoldItalic.woff2") format("woff2"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-BoldItalic.woff") format("woff"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-BoldItalic.ttf") format("truetype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-BoldItalic.svg#leroy_merlin_sans_boldBdIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "leroy_merlin_sansitalic";
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Italic.eot");
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Italic.woff2") format("woff2"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Italic.woff") format("woff"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Italic.ttf") format("truetype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Italic.svg#leroy_merlin_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "leroy_merlin_sanslight";
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Light.eot");
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Light.woff2") format("woff2"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Light.woff") format("woff"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Light.ttf") format("truetype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Light.svg#leroy_merlin_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "leroy_merlin_sanslight_italic";
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-LightItalic.eot");
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-LightItalic.woff2") format("woff2"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-LightItalic.woff") format("woff"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-LightItalic.ttf") format("truetype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-LightItalic.svg#leroy_merlin_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "leroy_merlin_sansregular";
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Regular.eot");
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Regular.eot?#iefix") format("embedded-opentype"),
    // url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Regular.woff2") format("woff2"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Regular.woff") format("woff"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Regular.ttf") format("truetype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-Regular.svg#leroy_merlin_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "leroy_merlin_sansSBdIt";
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBoldItalic.eot");
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBoldItalic?#iefix") format("embedded-opentype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBoldItalic.woff") format("woff"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBoldItalic.ttf") format("truetype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBoldItalic.svg#leroy_merlin_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "leroy_merlin_sanssemibold";
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBold.eot");
  src: url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBold.woff2") format("woff2"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBold.woff") format("woff"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBold.ttf") format("truetype"),
    url("../fonts/lory_merlin/webfonts/LeroyMerlinSans-Web-SemiBold.svg#leroy_merlin_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  font-family: leroy_merlin_sansregular, Sans-serif !important;
}

body.modal-open{
  overflow: hidden!important;
}

.modal {
  .modal-header {
    background-color: #042637;

    strong {
      color: #fff;
      font-weight: 400;
    }

    .close {
      // color:#fff;
      opacity: 1 !important;
      z-index: 3;

      &:before {
        position: absolute;
        content: "";
        height: 30px;
        width: 30px;
        background-color: #fff;
        right: 8px;
        top: 13px;
        border-radius: 30px;
        z-index: -1;
      }

      &:hover {
        // color:#fff!important;
        opacity: 0.75 !important;
      }
    }

    .close-mobile {
      display: none;
    }
  }

  @media (max-width: 991px) {
    .modal-header {
      .close {
        display: none;
      }
      .close-mobile {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        display: block;
        opacity: 1 !important;
        z-index: 3;

        &:before {
          position: absolute;
          content: "";
          height: 30px;
          width: 30px;
          background-color: #fff;
          right: 8px;
          top: 13px;
          border-radius: 30px;
          z-index: -1;
        }

        &:hover {
          // color:#fff!important;
          opacity: 0.75 !important;
        }
      }
    }

    .modal-dialog {
      margin: 0px;
      min-width: 100%;

      .modal-content {
        border: 0px;
        min-height: 100vh;
      }
    }
  }
}

@media (max-width: 991px) {
  .modal-backdrop {
    background-color: #fff !important;
  }
}
